body{
    display: flex;
    flex-direction: column;
    margin:0px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
}

p{
margin:0px;
}

a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin:0px;
    margin-bottom: 8px;
}

h2{
font-size: 36px;
font-weight: 900;
color: #1F2937;
text-align: center;
}

button{
    background-color: #3882f6;
    border:0px;
    border-radius: 5px;
    color: #f9faf8;
    padding:8px 24px 8px 24px;
    font-weight: 900;
}

#secondary-text,
a{
    font-size: 18px;
    color: #E5E7EB
}

#header-logo{
font-size: 24px;
color: #f9faf8;
font-weight: 700;
}

#image{
width: 50%;
max-height: 600px;
line-height: 300px;
text-align: center;
background-color: rgba(255, 255, 255, 0.253);
color:#f9faf8;
font-weight: 900;
margin-left: 100px;
}

#information{
height: 100vh;
}

#information-cards{
    display: flex;
    justify-content: center;
    margin:48px;
}

#quote{
    background-color: #E5E7EB;
    height: 40%;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#quote-text{
    font-size: 36px;
    font-style: oblique 10deg;
    color:#1F2937
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 15vw;
    padding-right: 15vw;
    height: 40vh;
    padding-bottom: 80px;
}

.header-nav{
    display: flex;
    align-items: center;
}

.header-links{
    margin-left: auto;
}

.header-content{
    display: flex;
    align-items: center;
    height: 40vh;
    margin-top: 40px;
}

.header-container{
    width: 50%;
}

.card{
    width: 15%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.image-placeholder{
    width: 80%;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    flex-shrink: 0;
}

.footer{
    margin-top: auto;
    background-color: #1F2937;
    color:#E5E7EB;
    text-align: center;
    height: 80px;
    line-height: 80px;
}